<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contatos</h1>
            <p class="text-center lead">Seus contantos:</p>

            <%- include('includes/messages') %>


            <% if(contact._id) {%>
            <form class="form-contact" action="/contacts/edit/<%= contact._id %>" method="POST">
            <% } else {  %>
            <form class="form-contact" action="/contacts/register" method="POST">
            <% } %>
            
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                
                <div class="form-group">
                    <label>Nome: </label>
                    <input value="<%= contact.name %>" type="text" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label>Sobrenome: </label>
                    <input value="<%= contact.surname %>" type=" text" class="form-control" name="surname">
                </div>

                <div class="form-group">
                    <label>E-mail: </label>
                    <input value="<%= contact.email %>" type=" email" class="form-control" name="email">
                </div>

                <div class="form-group">
                    <label>Telefone: </label>
                    <input value="<%= contact.tel %>" type=" tel" class="form-control" name="tel">
                </div>                

                <% if(contact._id) {%>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <% } else {  %>
                        <button type="submit" class="btn btn-primary">Criar contato</button>
                    <% } %>
            </form>





        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


<%- include('includes/footer.ejs') %>